<main class="pageDetail">
    <div class="card mb-3 pageDetail__results">
        <iframe class="pageDetail__results--video" [src]="bandId.link | embed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="origin-when-cross-origin" allowfullscreen>
        </iframe>
        <div class="card-body">
            <h5 class="card-title">{{bandId.name}}</h5>
            <p class="card-text">{{bandId.description}}</p>
            <a routerLink="/app-list-bands">
                << Back </a>
        </div>
    </div>

</main>