.pageDetail {
    margin: 10%;
    &__results {
        &--video {
            height: 300px;
            @media (min-width: 500px) {
                height: 400px;
            }
            @media (min-width: 780px) {
                height: 500px;
            }
        }
    }
}