<main class="pageList">
    <h1 class="pageList__title">
        Rock bands list
    </h1>
    <app-search></app-search>
    <section class="pageList__results">
        <div class="card pageList__results--card" style="width: 18rem;" *ngFor="let band of bands, index as i">
            <div class="card-body">
                <h5 class="card-title">{{band.id}}. {{band.name}}</h5>
                <p class="card-text"></p>
                <button class="btn btn-primary" [routerLink]="['/app-band-detail', i ]">More info</button>
            </div>
        </div>
    </section>
</main>