<main class="pageList">
    <h1 class="pageList__title">
        Rock bands list
    </h1>
    <section class="pageList__results">
        <div class="card pageList__results--card" style="width: 18rem;" *ngFor="let band of bands">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{band.name}}</h5>
                <p class="card-text">List number: {{band.id}}</p>
                <a href="#" class="btn btn-primary">More info</a>
            </div>
        </div>
    </section>
</main>