.pageList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    &__title {
        padding: 30px;
    }
    &__results {
        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            margin-bottom: 100px;
        }
    }
}