/* You can add global styles to this file, and also import other style files */

.pageList {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 500px) {
        background: #74ebd5;
        background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
        background: linear-gradient(to right, #ACB6E5, #74ebd5);
    }
    &__search {
        display: flex;
        align-self: flex-end;
        margin: 15px 80px 0px 0px;
        gap: 15px;
    }
    &__title {
        font-family: 'Potta One', cursive;
        text-transform: uppercase;
        padding: 30px;
    }
    &__results {
        &--card {
            margin: 15px;
            border: 2px solid blue;
            @media (min-width: 500px) {
                border: none;
            }
        }
        @media (min-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            margin-bottom: 100px;
        }
        @media (min-width: 780px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}